.about-subsection[data-v-51bb4823]{border-top:1px solid #e0e4ea;padding-top:20px}[data-v-51bb4823] .about-section .about-section-content{display:block!important}[data-v-51bb4823] .about-section .about-section-content h3{color:#000933}
