.about-subsection[data-v-0e896e2f]{border-top:1px solid #e0e4ea;padding-top:20px}[data-v-0e896e2f] .about-section .about-section-content{display:block!important}[data-v-0e896e2f] .about-section .about-section-content h3{color:#000933}
