.about-subsection[data-v-d4f11820]{border-top:1px solid #e0e4ea;padding-top:20px}[data-v-d4f11820] .about-section .about-section-content{display:block!important}[data-v-d4f11820] .about-section .about-section-content h3{color:#000933}
