.data-plane-proxy-filter[data-v-03f166d0]{flex-basis:350px;flex-grow:1}.filter-select[data-v-03f166d0]{display:flex;align-items:center;gap:8px}.filter-select[data-v-03f166d0] .k-label{margin-bottom:0!important}
