.app-collection[data-v-c4dd7694] :is(th,td):nth-child(1){padding-left:8px!important;padding-right:0!important;width:16px!important}.app-collection[data-v-c4dd7694] td:nth-child(2) a{color:inherit;font-weight:600;text-decoration:none}
