.circleci
.github
.gitignore
.gitmodules
.git
.golangci.yml
api
app
build/*
!build/artifacts-linux-amd64
!build/artifacts-linux-arm64
dev
docs
examples
go.mod
go.sum
Makefile*
pkg/*
!pkg/config/*
vendored
