# IDE: Goland
.idea/

# IDE: VS Code
.vscode/

# CI
build/

# macOS
.DS_Store

# Release artifacts
.cr-release-packages
*.test

# to embed ebpf programs by using go:embed, we have to copy programs first
pkg/transparentproxy/ebpf/programs/mb_*
