{{- if .Values.cni.enabled }}
{{- if .Values.skipRBAC }}
{{- printf "\n# WARNING: RBAC is skipped. If this was intentional, remember to create the necessary resources for kuma-cni manually.\n" }}
{{- end }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "kuma.name" . }}-cni
  namespace: {{ .Values.cni.namespace }}
  labels: {{ include "kuma.cniLabels" . | nindent 4 }}
{{- with .Values.global.imagePullSecrets }}
imagePullSecrets:
  {{- range . }}
  - name: {{ . | quote }}
  {{- end }}
{{- end }}
{{- if not .Values.skipRBAC }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "kuma.name" . }}-cni
  labels:
  {{ include "kuma.cniLabels" . | nindent 4 }}
rules:
  - apiGroups: [""]
    resources:
      - pods
    verbs:
      - get
      {{- if .Values.experimental.ebpf.enabled }}
      - list
      - watch
      {{- end }}
{{- if gt (len .Values.enabledNamespaces) 0 }}
{{- $root := . }}
{{- range $element := .Values.enabledNamespaces }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "kuma.name" $root }}-cni
  labels: {{ include "kuma.cpLabels" $root | nindent 4 }}
  namespace: {{ $element }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "kuma.name" $root }}-cni
subjects:
  - kind: ServiceAccount
    name: {{ include "kuma.name" $root }}-cni
    namespace: {{ $root.Release.Namespace }}
{{- end }}
{{- end }}
{{- if eq (len .Values.enabledNamespaces) 0 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "kuma.name" . }}-cni
  labels:
  {{ include "kuma.cniLabels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "kuma.name" . }}-cni
subjects:
  - kind: ServiceAccount
    name: {{ include "kuma.name" . }}-cni
    namespace: {{ .Values.cni.namespace }}
{{- end }}
{{- end }}
{{- end }}
