{{- if .Values.cni.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "kuma.name" . }}-cni
  namespace: {{ .Values.cni.namespace }}
  labels: {{ include "kuma.cniLabels" . | nindent 4 }}
{{- with .Values.global.imagePullSecrets }}
imagePullSecrets:
  {{- range . }}
  - name: {{ . | quote }}
  {{- end }}
{{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "kuma.name" . }}-cni
  labels:
  {{ include "kuma.cniLabels" . | nindent 4 }}
rules:
  - apiGroups: [""]
    resources:
      - nodes
    verbs:
      - get
  - apiGroups: [""]
    resources:
      - pods
    verbs:
      - get
      {{- if .Values.experimental.ebpf.enabled }}
      - list
      - watch
      {{- end }}
<<<<<<< HEAD
=======
{{- if gt (len (default list .Values.namespaceAllowList)) 0 }}
{{- $root := . }}
{{- range $element := .Values.namespaceAllowList }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "kuma.name" $root }}-cni
  labels: {{ include "kuma.cpLabels" $root | nindent 4 }}
  namespace: {{ $element }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "kuma.name" $root }}-cni
subjects:
  - kind: ServiceAccount
    name: {{ include "kuma.name" $root }}-cni
    namespace: {{ $root.Release.Namespace }}
{{- end }}
{{- else }}
>>>>>>> b97f43ac58 (fix(helm): error when `namespaceAllowList` is unset in values.yaml (#15232))
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "kuma.name" . }}-cni
  labels:
  {{ include "kuma.cniLabels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "kuma.name" . }}-cni
subjects:
  - kind: ServiceAccount
    name: {{ include "kuma.name" . }}-cni
    namespace: {{ .Values.cni.namespace }}
  {{- end }}
