{{ $kdsGlobalServerTLSSecretName := "" }}
{{ if eq .Values.controlPlane.mode "global" }}
  {{ $kdsGlobalServerTLSSecretName = .Values.controlPlane.tls.kdsGlobalServer.secretName }}
  {{ if and .Values.controlPlane.tls.kdsGlobalServer.create (not $kdsGlobalServerTLSSecretName) }}
    {{ $kdsGlobalServerTLSSecretName = print (include "kuma.name" .) "-kds-global-server-tls" }}
  {{ end }}
{{ end }}

{{ $kdsZoneClientTLSSecretName := "" }}
{{ if eq .Values.controlPlane.mode "zone" }}
  {{ $kdsZoneClientTLSSecretName = .Values.controlPlane.tls.kdsZoneClient.secretName }}
  {{ if and .Values.controlPlane.tls.kdsZoneClient.create (not $kdsZoneClientTLSSecretName) }}
    {{ $kdsZoneClientTLSSecretName = print (include "kuma.name" .) "-kds-zone-client-tls" }}
  {{ end }}
{{ end }}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kuma.name" . }}-control-plane
  namespace: {{ .Release.Namespace }}
  labels: {{ include "kuma.cpLabels" . | nindent 4 }}
spec:
  {{- if not .Values.controlPlane.autoscaling.enabled }}
  replicas: {{ .Values.controlPlane.replicas }}
  {{- end }}
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      {{- include "kuma.selectorLabels" . | nindent 6 }}
      app: {{ include "kuma.name" . }}-control-plane
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/cp-configmap.yaml") . | sha256sum }}
        checksum/tls-secrets: {{ include (print $.Template.BasePath "/cp-webhooks-and-secrets.yaml") . | sha256sum }}
        {{- range $key, $value := $.Values.controlPlane.podAnnotations }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
      labels: {{ include "kuma.cpLabels" . | nindent 8 }}
    spec:
      {{- with .Values.controlPlane.affinity }}
      affinity: {{ tpl (toYaml . | nindent 8) $ }}
      {{- end }}
      {{- with .Values.controlPlane.topologySpreadConstraints }}
      topologySpreadConstraints: {{ tpl (toYaml . | nindent 8) $ }}
      {{- end }}
      {{- if .Values.controlPlane.podSecurityContext }}
      securityContext:
      {{ toYaml .Values.controlPlane.podSecurityContext | trim | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "kuma.name" . }}-control-plane
      automountServiceAccountToken: {{ .Values.controlPlane.automountServiceAccountToken }}
      {{- with .Values.controlPlane.nodeSelector }}
      nodeSelector:
        {{ toYaml . | nindent 8 }}
      {{- end }}
      hostNetwork: {{ .Values.controlPlane.hostNetwork }}
      terminationGracePeriodSeconds: {{ .Values.controlPlane.terminationGracePeriodSeconds }}
      containers:
        - name: control-plane
          image: {{ include "kuma.formatImage" (dict "image" .Values.controlPlane.image "root" $) | quote }}
          imagePullPolicy: {{ .Values.controlPlane.image.pullPolicy }}
          {{- if .Values.controlPlane.containerSecurityContext }}
          securityContext:
          {{ toYaml .Values.controlPlane.containerSecurityContext | trim | nindent 12 }}
          {{- end }}
          env:
          {{-  $defaultEnv := include "kuma.defaultEnv" . | fromYaml | pluck "env" | first }}
          {{- $defaultEnvDict := dict }}
          {{- range $index, $item := $defaultEnv }}
          {{- $name := $item.name | upper }}
          {{- $defaultEnvDict := set $defaultEnvDict $name $item.value }}
          {{- end }}
          {{- $envVarsCopy := deepCopy .Values.controlPlane.envVars }}
          {{- $mergedEnv := merge $envVarsCopy $defaultEnvDict }}
          {{- range $key, $value := $mergedEnv }}
            - name: {{ $key }}
              value: {{ $value | quote }}
          {{- end }}
          {{- range $element := .Values.controlPlane.secrets }}
            - name: {{ $element.Env }}
              valueFrom:
                secretKeyRef:
                  name: {{ $element.Secret }}
                  key: {{ $element.Key }}
          {{- end }}
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          args:
            - run
            - --log-level={{ .Values.controlPlane.logLevel }}
            - --config-file=/etc/kuma.io/kuma-control-plane/config.yaml
          ports:
            - containerPort: 5680
              name: diagnostics
              protocol: TCP
            - containerPort: 5681
            - containerPort: 5682
            - containerPort: 5443
            {{- if ne .Values.controlPlane.mode "global" }}
            - containerPort: 5678
            {{- end }}
          livenessProbe:
            timeoutSeconds: 10
            httpGet:
              path: /healthy
              port: 5680
          readinessProbe:
            timeoutSeconds: 10
            httpGet:
              path: /ready
              port: 5680
          resources:
            {{- if .Values.controlPlane.resources.requests }}
            requests:
            {{ .Values.controlPlane.resources.requests | toYaml | nindent 14 }}
            {{- else if eq .Values.controlPlane.mode "global" }}
            requests:
              cpu: 500m
              memory: 256Mi
            {{- else }}
            requests:
              cpu: 100m
              memory: 256Mi
            {{- end }}
            {{- if .Values.controlPlane.resources.limits }}
            limits:
            {{ .Values.controlPlane.resources.limits | toYaml | nindent 14 }}
            {{- end }}
          {{ with .Values.controlPlane.lifecycle }}
          lifecycle: {{ . | toYaml | nindent 14 }}
          {{ end }}
          volumeMounts:
            {{- if not .Values.controlPlane.automountServiceAccountToken }}
            - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
              name: serviceaccount-token
              readOnly: true
            {{- end }}
            - name: general-tls-cert
              mountPath: /var/run/secrets/kuma.io/tls-cert/tls.crt
              subPath: tls.crt
              readOnly: true
            - name: general-tls-cert
              mountPath: /var/run/secrets/kuma.io/tls-cert/tls.key
              subPath: tls.key
              readOnly: true
          {{- if .Values.controlPlane.tls.general.caSecretName }}
            - name: general-tls-cert-ca
          {{- else}}
            - name: general-tls-cert
          {{- end }}
              mountPath: /var/run/secrets/kuma.io/tls-cert/ca.crt
              subPath: ca.crt
              readOnly: true
            - name: {{ include "kuma.name" . }}-control-plane-config
              mountPath: /etc/kuma.io/kuma-control-plane
              readOnly: true
          {{- if .Values.controlPlane.tls.apiServer.secretName }}
            - name: api-server-tls-cert
              mountPath: /var/run/secrets/kuma.io/api-server-tls-cert
              readOnly: true
          {{- end }}
          {{- if .Values.controlPlane.tls.apiServer.clientCertsSecretName }}
            - name: api-server-client-certs
              mountPath: /var/run/secrets/kuma.io/api-server-client-certs
              readOnly: true
          {{- end }}
          {{- if $kdsGlobalServerTLSSecretName }}
            - name: kds-server-tls-cert
              mountPath: /var/run/secrets/kuma.io/kds-server-tls-cert
              readOnly: true
          {{- end }}
          {{- if $kdsZoneClientTLSSecretName }}
            - name: kds-client-tls-cert
              mountPath: /var/run/secrets/kuma.io/kds-client-tls-cert
              readOnly: true
          {{- end }}
          {{- range $extraConfigMap := .Values.controlPlane.extraConfigMaps }}
            - name: {{ $extraConfigMap.name }}
              mountPath: {{ $extraConfigMap.mountPath }}
              readOnly: {{ $extraConfigMap.readOnly }}
          {{- end }}
          {{- range $extraSecret := .Values.controlPlane.extraSecrets }}
            - name: {{ $extraSecret.name }}
              mountPath: {{ $extraSecret.mountPath }}
              readOnly: {{ $extraSecret.readOnly }}
          {{- end }}
      volumes:
        {{- if not .Values.controlPlane.automountServiceAccountToken }}
        - name: serviceaccount-token
          projected:
            defaultMode: 420
            sources:
            - serviceAccountToken:
                 expirationSeconds: 3600
                 path: token
            - configMap:
                 name: kube-root-ca.crt
                 items:
                   - key: ca.crt
                     path: ca.crt
            - downwardAPI:
                 items:
                   - fieldRef:
                        apiVersion: v1
                        fieldPath: metadata.namespace
                     path: namespace
        {{- end }}
        {{- if .Values.controlPlane.tls.general.secretName }}
        - name: general-tls-cert
          secret:
            secretName: {{ .Values.controlPlane.tls.general.secretName }}
        {{- else }}
        - name: general-tls-cert
          secret:
            secretName: {{ include "kuma.name" . }}-tls-cert
        {{- end }}
        {{- if .Values.controlPlane.tls.general.caSecretName }}
        - name: general-tls-cert-ca
          secret:
            secretName: {{ .Values.controlPlane.tls.general.caSecretName }}
        {{- end }}
        {{- if .Values.controlPlane.tls.apiServer.secretName }}
        - name: api-server-tls-cert
          secret:
            secretName: {{ .Values.controlPlane.tls.apiServer.secretName }}
        {{- end }}
        {{- if .Values.controlPlane.tls.apiServer.clientCertsSecretName }}
        - name: api-server-client-certs
          secret:
            secretName: {{ .Values.controlPlane.tls.apiServer.clientCertsSecretName }}
        {{- end }}
        {{- if $kdsGlobalServerTLSSecretName }}
        - name: kds-server-tls-cert
          secret:
            secretName: {{ $kdsGlobalServerTLSSecretName }}
        {{- end }}
        {{- if $kdsZoneClientTLSSecretName }}
        - name: kds-client-tls-cert
          secret:
            secretName: {{ $kdsZoneClientTLSSecretName }}
        {{- end }}
        - name: {{ include "kuma.name" . }}-control-plane-config
          configMap:
            name: {{ include "kuma.name" . }}-control-plane-config
        {{- range $extraConfigMap := .Values.controlPlane.extraConfigMaps }}
        - name: {{ $extraConfigMap.name }}
          configMap:
            name: {{ $extraConfigMap.name }}
        {{- end }}
        {{- range $extraSecret := .Values.controlPlane.extraSecrets }}
        - name: {{ $extraSecret.name }}
          secret:
            secretName: {{ $extraSecret.name }}
        {{- end }}
