{{- if .Values.egress.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kuma.name" . }}-egress
  namespace: {{ .Release.Namespace }}
  labels: {{ include "kuma.egressLabels" . | nindent 4 }}
spec:
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  {{- if not .Values.egress.autoscaling.enabled }}
  replicas: {{ .Values.egress.replicas }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "kuma.selectorLabels" . | nindent 6 }}
      app: {{ include "kuma.name" . }}-egress
  template:
    metadata:
      annotations:
        kuma.io/egress: enabled
        {{- range $key, $value := merge .Values.egress.podAnnotations .Values.egress.annotations }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
      labels:
        {{- include "kuma.egressLabels" . | nindent 8 }}
    spec:
      {{- with .Values.egress.affinity }}
      affinity: {{ tpl (toYaml . | nindent 8) $ }}
      {{- end }}
      {{- with .Values.egress.topologySpreadConstraints }}
      topologySpreadConstraints: {{ tpl (toYaml . | nindent 8) $ }}
      {{- end }}
      {{- if .Values.egress.podSecurityContext }}
      securityContext:
      {{ toYaml .Values.egress.podSecurityContext | trim | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "kuma.name" . }}-egress
      {{- with .Values.egress.nodeSelector }}
      nodeSelector:
      {{ toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: egress
          image: {{ include "kuma.formatImage" (dict "image" .Values.dataPlane.image "root" $) | quote }}
          imagePullPolicy: {{ .Values.dataPlane.image.pullPolicy }}
          {{- if .Values.egress.containerSecurityContext }}
          securityContext:
          {{ toYaml .Values.egress.containerSecurityContext | trim | nindent 12 }}
          {{- end }}
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: KUMA_CONTROL_PLANE_URL
              value: "https://{{ include "kuma.controlPlane.serviceName" . }}.{{ .Release.Namespace }}:5678"
            - name: KUMA_CONTROL_PLANE_CA_CERT_FILE
              value: /var/run/secrets/kuma.io/tls-cert/ca.crt
            - name: KUMA_DATAPLANE_NAME
              value: $(POD_NAME).$(POD_NAMESPACE)
            - name: KUMA_DATAPLANE_DRAIN_TIME
              value: {{ .Values.egress.drainTime }}
            - name: KUMA_DATAPLANE_RUNTIME_TOKEN_PATH
              value: /var/run/secrets/kubernetes.io/serviceaccount/token
            - name: KUMA_DATAPLANE_PROXY_TYPE
              value: "egress"
          args:
            - run
            - --log-level=info
          ports:
            - containerPort: 10002
          livenessProbe:
            httpGet:
              path: "/ready"
              port: 9901
            failureThreshold: 12
            initialDelaySeconds: 60
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 3
          readinessProbe:
            httpGet:
              path: "/ready"
              port: 9901
            failureThreshold: 12
            initialDelaySeconds: 1
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 3
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 1000m
              memory: 512Mi
          volumeMounts:
            - name: {{ include "kuma.name" . }}-tls-cert
              mountPath: /var/run/secrets/kuma.io/tls-cert
              readOnly: true
      volumes:
        - name: {{ include "kuma.name" . }}-tls-cert
          secret:
            secretName: {{ include "kuma.name" . }}-tls-cert
{{- end }}
