apiVersion: v1
kind: Namespace
metadata:
  name: logging
---
apiVersion: v1
kind: Service
metadata:
  name: logstash
  namespace: logging
spec:
  selector:
    app: logstash
  ports:
  - name: tcp
    port: 5000
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-config
  namespace: logging
data:
  logstash.conf: |
    input {
      tcp {
          port => 5000
          codec => json
      }
    }
    output{
      loggly{
        key => "dbee0a24-abf3-4049-a50a-8c80531a9e11"
        tag => "logstash"
      }
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: logstash
  namespace: logging
  labels:
    app: logstash
spec:
  selector:
    matchLabels:
      app: logstash
  replicas: 1
  template:
    metadata:
      labels:
        app: logstash
    spec:
      containers:
      - name: logstash
        image: kvn0218/kuma-demo-log
        args:
        - -f
        - /etc/logstash/logstash.conf
        ports:
        - containerPort: 5000
        volumeMounts:
        - mountPath: /etc/logstash
          name: logstash-config
          readOnly: true
        resources:
          requests:
            cpu: 500m
            memory: 512Mi
          limits:
            cpu: 1000m
            memory: 1Gi
      volumes:
      - configMap:
          name: logstash-config
        name: logstash-config
# ---
# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: logstash
#   namespace: logging
#   labels:
#     app: logstash
# spec:
#   selector:
#     matchLabels:
#       app: logstash
#   replicas: 1
#   template:
#     metadata:
#       labels:
#         app: logstash
#     spec:
#       containers:
#       - name: logstash
#         image: kong-docker-kuma-docker.bintray.io/kuma-tcp-echo
#         args:
#         - -port
#         - "5000"
#         ports:
#         - containerPort: 5000