version: 2

go-defaults: &go-defaults
  working_directory: /go/src/github.com/Kong/konvoy
  docker:
  - image: golang:1.12.5
  environment:
    GO111MODULE: "on"

remote-docker-defaults: &remote-docker-defaults
  docker:
  - image: circleci/golang:1.12

vm-executor-defaults: &vm-executor-defaults
  machine:
    image: ubuntu-1604:201903-01

mac-executor-defaults: &mac-executor-defaults
  macos:
    xcode: "9.0"

jobs:
  kcp/dev/golang:
    docker:
    - image: golang:1.12.5
    environment:
      GO111MODULE: "on"
    steps:
    - checkout
    - run:
        name: "Install pre-requirements"
        # `unzip` is necessary to install `protoc`
        command: apt update && apt install -y unzip
    - run:
        name: "Install all development tools"
        command: make dev/tools -C components/konvoy-control-plane
    - run:
        name: "Build all binaries"
        command: make build -C components/konvoy-control-plane
    - run:
        name: "Run unit tests"
        command: GO_TEST_OPTS='-p 2' make test -C components/konvoy-control-plane

  kcp/dev/ubuntu:
    docker:
    - image: ubuntu:16.04
    environment:
      GO_VERSION: 1.12.5
      GO111MODULE: "on"
      CLANG_FORMAT_PATH: clang-format-6.0
    steps:
    - checkout
    - run:
        name: "Install pre-requirements"
        # `unzip` is necessary to install `protoc`
        # `gcc`   is necessary to run `go test -race`
        command: apt update && apt install -y unzip gcc
    - run:
        name: "Install Go"
        command: |
          apt update && apt install -y curl git make
          # see https://golang.org/doc/install#tarball
          curl -L https://dl.google.com/go/go${GO_VERSION}.linux-amd64.tar.gz | tar -xz -C $HOME
    - run:
        name: "Install all development tools"
        command: |
          export PATH=$HOME/go/bin:$PATH
          make dev/tools -C components/konvoy-control-plane
    - run:
        name: "Install check tools (clang-format, ...)"
        # `clang-format` is used to format `*.proto` files
        command: |
          apt update && apt install -y clang-format-6.0
    - run:
        name: "Run code generators (go generate, protoc, ...) and code checks (go fmt, go vet, ...)"
        command: |
          export PATH=$HOME/go/bin:$PATH
          make check -C components/konvoy-control-plane
    - run:
        name: "Build all binaries"
        command: |
          export PATH=$HOME/go/bin:$PATH
          make build -C components/konvoy-control-plane
    - run:
        name: "Run unit tests"
        command: |
          export PATH=$HOME/go/bin:$PATH
          GO_TEST_OPTS='-p 2' make test -C components/konvoy-control-plane

  kcp/dev/mac:
    <<: *mac-executor-defaults
    environment:
      GO_VERSION: 1.12.5
      GO111MODULE: "on"
    steps:
    - checkout
    - run:
        name: "Install Go"
        command: |
          # see https://golang.org/doc/install#tarball
          curl -L https://dl.google.com/go/go${GO_VERSION}.darwin-amd64.tar.gz | tar -xz -C $HOME
    - run:
        name: "Install all development tools"
        command: |
          export PATH=$HOME/go/bin:$PATH
          make dev/tools -C components/konvoy-control-plane
    - run:
        name: "Install check tools (clang-format, ...)"
        # `clang-format` is used to format `*.proto` files
        command: |
          brew install clang-format
    - run:
        name: "Run code generators (go generate, protoc, ...) and code checks (go fmt, go vet, ...)"
        command: |
          export PATH=$HOME/go/bin:$PATH
          make check -C components/konvoy-control-plane
    - run:
        name: "Build all binaries"
        command: |
          export PATH=$HOME/go/bin:$PATH
          make build -C components/konvoy-control-plane
    - run:
        name: "Run unit tests"
        command: |
          export PATH=$HOME/go/bin:$PATH
          GO_TEST_OPTS='-p 2' make test -C components/konvoy-control-plane

  kcp/check:
    <<: *go-defaults
    environment:
      GO111MODULE: "on"
      CLANG_FORMAT_PATH: clang-format-10
    steps:
    - checkout
    - restore_cache:
        keys:
        - konvoy-control-plane/go.mod/{{ checksum "components/konvoy-control-plane/go.sum" }}
    - run:
        name: "Download Go modules"
        command: |
          cd components/konvoy-control-plane && go mod download
    # since execution of go commands might change contents of "go.sum", we have to save cache immediately
    - save_cache:
        key: konvoy-control-plane/go.mod/{{ checksum "components/konvoy-control-plane/go.sum" }}
        paths:
          - "/go/pkg/mod"
    - run:
        name: "Install pre-requirements"
        # `unzip` is necessary to install `protoc`
        command: apt update && apt install -y unzip
    - run:
        name: "Install all development tools"
        command: make dev/tools -C components/konvoy-control-plane
    - run:
        name: "Install check tools (clang-format, ...)"
        command: |
          # see https://apt.llvm.org/

          cat  >>/etc/apt/sources.list <<EOF

          deb http://apt.llvm.org/stretch/ llvm-toolchain-stretch main
          deb-src http://apt.llvm.org/stretch/ llvm-toolchain-stretch main
          # 7
          deb http://apt.llvm.org/stretch/ llvm-toolchain-stretch-7 main
          deb-src http://apt.llvm.org/stretch/ llvm-toolchain-stretch-7 main
          # 8
          deb http://apt.llvm.org/stretch/ llvm-toolchain-stretch-8 main
          deb-src http://apt.llvm.org/stretch/ llvm-toolchain-stretch-8 main
          EOF

          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key|apt-key add -

          apt update && apt install -y clang-format-10
    - run:
        name: "Run code generators (go generate, protoc, ...) and code checks (go fmt, go vet, ...)"
        command: make check -C components/konvoy-control-plane

  kcp-api/check:
    <<: *go-defaults
    steps:
    - checkout
    - restore_cache:
        keys:
        - konvoy-control-plane/api/go.mod/{{ checksum "components/konvoy-control-plane/api/go.sum" }}
    - run:
        name: "Download Go modules"
        command: |
          cd components/konvoy-control-plane/api && go mod download
    # since execution of go commands might change contents of "go.sum", we have to save cache immediately
    - save_cache:
        key: konvoy-control-plane/api/go.mod/{{ checksum "components/konvoy-control-plane/api/go.sum" }}
        paths:
          - "/go/pkg/mod"
    - run:
        name: "Install pre-requirements"
        # `unzip` is necessary to install `protoc`
        command: apt update && apt install -y unzip
    - run:
        name: "Install all development tools"
        command: make dev/tools -C components/konvoy-control-plane/api
    - run:
        name: "Verify that auto-generated code is up-to-date"
        command: make check -C components/konvoy-control-plane/api

  kcp/test:
    <<: *go-defaults
    resource_class: large
    steps:
    - checkout
    - restore_cache:
        keys:
        - konvoy-control-plane/go.mod/{{ checksum "components/konvoy-control-plane/go.sum" }}
    - run:
        name: "Install pre-requirements"
        # `unzip` is necessary to install `protoc`
        command: apt update && apt install -y unzip
    - run:
        name: "Install all development tools"
        command: make dev/tools -C components/konvoy-control-plane
    - run:
        name: "Run unit tests"
        command: GO_TEST_OPTS='-p 2' make test -C components/konvoy-control-plane
    - store_artifacts:
        path: components/konvoy-control-plane/build/coverage
        destination: /coverage

  kcp/integration:
    <<: *vm-executor-defaults
    environment:
      GO_VERSION: 1.12.5
      GO111MODULE: "on"
      GOPATH: /home/circleci/.go
    steps:
    - checkout
    - run:
        name: "Install Go"
        command: |
          apt update && apt install -y curl git make
          # see https://golang.org/doc/install#tarball
          curl -L https://dl.google.com/go/go${GO_VERSION}.linux-amd64.tar.gz | tar -xz -C $HOME
    - restore_cache:
        keys:
        - vm-executor/konvoy-control-plane/go.mod/{{ checksum "components/konvoy-control-plane/go.sum" }}
    - run:
        name: "Download Go modules"
        command: |
          export PATH=$HOME/go/bin:$PATH
          cd components/konvoy-control-plane && go mod download
    # since execution of go commands might change contents of "go.sum", we have to save cache immediately
    - save_cache:
        key: vm-executor/konvoy-control-plane/go.mod/{{ checksum "components/konvoy-control-plane/go.sum" }}
        paths:
          - "/home/circleci/.go"
    - run:
        name: "Install all development tools"
        command: |
          export PATH=$HOME/go/bin:$PATH
          make dev/tools -C components/konvoy-control-plane
    - run:
        name: "Run integration tests"
        command: | 
          export PATH=$HOME/go/bin:$PATH
          make integration -C components/konvoy-control-plane
    - store_artifacts:
        path: components/konvoy-control-plane/build/coverage
        destination: /coverage

  kcp/build:
    <<: *go-defaults
    steps:
    - checkout
    - restore_cache:
        keys:
        - konvoy-control-plane/go.mod/{{ checksum "components/konvoy-control-plane/go.sum" }}
    - run: make build -C components/konvoy-control-plane

  kcp/images:
    <<: *remote-docker-defaults
    steps:
    - checkout
    - setup_remote_docker
    - run: make images -C components/konvoy-control-plane

  kcp/example/docker-compose:
    <<: *vm-executor-defaults
    steps:
    - checkout
    - run:
        name: Start Docker Compose setup
        command: make run/example/docker-compose -C components/konvoy-control-plane DOCKER_COMPOSE_OPTIONS=--detach
    - run:
        name: Wait until Envoy listener gets configured
        command: make wait/example/docker-compose -C components/konvoy-control-plane
    - run:
        name: Make test requests via Envoy
        command: make curl/example/docker-compose -C components/konvoy-control-plane
    - run:
        name: Verify Envoy stats
        command: make verify/example/docker-compose -C components/konvoy-control-plane

  kcp/example/minikube:
    <<: *vm-executor-defaults
    steps:
    - checkout
    - run:
        name: Install Minikube
        command: make dev/install/minikube -C components/konvoy-control-plane
    - run:
        name: Install Kubectl
        command: make dev/install/kubectl -C components/konvoy-control-plane
    - run:
        name: Start Minikube
        command: sudo CHANGE_MINIKUBE_NONE_USER=true $HOME/bin/minikube start --vm-driver=none
    - run:
        name: Build Control Plane
        command: make build/example/minikube -C components/konvoy-control-plane
    - run:
        name: Deploy Konvoy demo
        command: make deploy/example/minikube -C components/konvoy-control-plane
    # - run:
    #     name: Wait until Envoy listener gets configured
    #     command: make wait/example/minikube -C components/konvoy-control-plane
    # - run:
    #     name: Make test requests via Envoy
    #     command: make curl/example/minikube -C components/konvoy-control-plane
    # - run:
    #     name: Verify Envoy stats
    #     command: make verify/example/minikube -C components/konvoy-control-plane
    # - run:
    #     name: Verify konvoyctl workflow
    #     command: make konvoyctl/example/minikube -C components/konvoy-control-plane
  kcp/images/push:
    <<: *vm-executor-defaults
    steps:
    - checkout
    - run:
        name: Push Docker images
        command: make images/push BINTRAY_USERNAME=$BINTRAY_USERNAME BINTRAY_API_KEY=$BINTRAY_API_KEY KONVOY_VERSION=$CIRCLE_TAG -C components/konvoy-control-plane

#
# Below, the tag filter needs to be in all jobs
# transitively required by the push job; otherwise,
# the build isn't triggered.
# TODO investigate whether it's possible to DRY it,
# perhaps by creating a separate workflow for deploy,
# which depends on the first workflow (check/test/build)
#
workflows:
  version: 2
  konvoy-control-plane:
    jobs:
    - kcp-api/check:
        filters:
          tags:
            only: /.*/
    - kcp/dev/golang
    - kcp/dev/mac
    - kcp/dev/ubuntu
    - kcp/check:
        filters:
          tags:
            only: /.*/
    - kcp/test:
        requires:
        - kcp/check
        - kcp-api/check
        filters:
          tags:
            only:
              /.*/
    - kcp/integration:
        requires:
        - kcp/check
    - kcp/build:
        requires:
        - kcp/test
        filters:
          tags:
            only: /.*/
    - kcp/images:
        requires:
        - kcp/build
        filters:
          tags:
            only: /.*/
#    TODO(yskopets): Bring back support for Docker Compose
#    - kcp/example/docker-compose:
#        requires:
#        - kcp/build
    - kcp/example/minikube:
        requires:
        - kcp/build
    - kcp/images/push:
        requires:
        - kcp/images
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /.*/
