# Environment Type, can be either "kubernetes" or "universal"
environment: universal # ENV: KUMA_ENVIRONMENT
mode: standalone # ENV: KUMA_MODE By default autoconfigured to standalone

# Resource Store configuration
store:
  # Type of Store used in the Control Plane. Can be either "kubernetes", "postgres" or "memory"
  type: memory # ENV: KUMA_STORE_TYPE

  # Kubernetes Store configuration (used when store.type=kubernetes)
  kubernetes:
    # Namespace where Control Plane is installed to.
    systemNamespace: kuma-system # ENV: KUMA_STORE_KUBERNETES_SYSTEM_NAMESPACE

  # Postgres Store configuration (used when store.type=postgres)
  postgres:
    # Host of the Postgres DB
    host: 127.0.0.1 # ENV: KUMA_STORE_POSTGRES_HOST
    # Port of the Postgres DB
    port: 15432 # ENV: KUMA_STORE_POSTGRES_PORT
    # User of the Postgres DB
    user: kuma # ENV: KUMA_STORE_POSTGRES_USER
    # Password of the Postgres DB
    password: kuma # ENV: KUMA_STORE_POSTGRES_PASSWORD
    # Database name of the Postgres DB
    dbName: kuma # ENV: KUMA_STORE_POSTGRES_DB_NAME
    # Connection Timeout to the DB in seconds
    connectionTimeout: 5 # ENV: KUMA_STORE_POSTGRES_CONNECTION_TIMEOUT
    # Maximum number of open connections to the database
    # `0` value means number of open connections is unlimited
    maxOpenConnections: 0 # ENV: KUMA_STORE_POSTGRES_MAX_OPEN_CONNECTIONS
    # TLS settings
    tls:
      # Mode of TLS connection. Available values (disable, require, verify-ca, verify-full)
      mode: disable # ENV: KUMA_STORE_POSTGRES_TLS_MODE
      # Path to TLS Certificate of the client. Used in require, verify-ca and verify-full modes
      certPath: # ENV: KUMA_STORE_POSTGRES_TLS_CERT_PATH
      # Path to TLS Key of the client. Used in require, verify-ca and verify-full modes
      keyPath: # ENV: KUMA_STORE_POSTGRES_TLS_KEY_PATH
      # Path to the root certificate. Used in verify-ca and verify-full modes.
      caPath: # ENV: KUMA_STORE_POSTGRES_TLS_ROOT_CERT_PATH

  # Cache for read only operations. This cache is local to the instance of the control plane.
  cache:
    # If true then cache is enabled
    enabled: true
    # Expiration time for elements in cache.
    expirationTime: 1s

# Configuration of Bootstrap Server, which provides bootstrap config to Dataplanes
bootstrapServer:
  # Port of Server that provides bootstrap configuration for dataplanes
  port: 5682 # ENV: KUMA_BOOTSTRAP_SERVER_PORT
  # Parameters of bootstrap configuration
  params:
    # Address of Envoy Admin
    adminAddress: 127.0.0.1 # ENV: KUMA_BOOTSTRAP_SERVER_PARAMS_ADMIN_ADDRESS
    # Port of Envoy Admin
    adminPort: 0 # ENV: KUMA_BOOTSTRAP_SERVER_PARAMS_ADMIN_PORT
    # Path to access log file of Envoy Admin
    adminAccessLogPath: /dev/null # ENV: KUMA_BOOTSTRAP_SERVER_PARAMS_ADMIN_ACCESS_LOG_PATH
    # Host of XDS Server. By default it is autoconfigured from KUMA_GENERAL_ADVERTISED_HOSTNAME
    xdsHost: "" # ENV: KUMA_BOOTSTRAP_SERVER_PARAMS_XDS_HOST
    # Port of XDS Server. By default it is autoconfigured from KUMA_XDS_SERVER_GRPC_PORT
    xdsPort: 0 # ENV: KUMA_BOOTSTRAP_SERVER_PARAMS_XDS_PORT
    # Connection timeout to the XDS Server
    xdsConnectTimeout: 1s # ENV: KUMA_BOOTSTRAP_SERVER_PARAMS_XDS_CONNECT_TIMEOUT

# Envoy SDS server configuration
sdsServer:
  # Port of GRPC server that Envoy connects to
  grpcPort: 5677 # ENV: KUMA_SDS_SERVER_GRPC_PORT
  # TlsCertFile defines a path to a file with PEM-encoded TLS cert.
  tlsCertFile: # ENV: KUMA_SDS_SERVER_TLS_CERT_FILE
  # TlsKeyFile defines a path to a file with PEM-encoded TLS key.
  tlsKeyFile: # ENV: KUMA_SDS_SERVER_TLS_KEY_FILE
  # Interval for re-genarting configuration for Dataplanes connected to the Control Plane
  dataplaneConfigurationRefreshInterval: 1s # ENV: KUMA_SDS_SERVER_DATAPLANE_CONFIGURATION_REFRESH_INTERVAL

#  Monitoring Assignment Discovery Service (MADS) server configuration
monitoringAssignmentServer:
  # Port of a gRPC server that serves Monitoring Assignment Discovery Service (MADS).
  grpcPort: 5676 # ENV: KUMA_MONITORING_ASSIGNMENT_SERVER_GRPC_PORT
  # Interval for re-generating monitoring assignments for clients connected to the Control Plane.
  assignmentRefreshInterval: 1s # ENV: KUMA_MONITORING_ASSIGNMENT_SERVER_ASSIGNMENT_REFRESH_INTERVAL

# Admin server configuration
adminServer:
  # Local configuration of server that is available only on localhost
  local:
    # Port on which the server will be exposed
    port: 5679 # ENV: KUMA_ADMIN_SERVER_LOCAL_PORT
  # Public configuration of server that is available on public interface
  public:
    # If true then Admin Server is exposed on public interface
    enabled: false
    # Port on which the server will be exposed. If not specified (0) then port from local configuration will be used
    port: 0 # ENV: KUMA_ADMIN_SERVER_PUBLIC_PORT
    # Public interface on which the server will be exposed
    interface: # ENV: KUMA_ADMIN_SERVER_PUBLIC_INTERFACE
    # Path to TLS certificate file
    tlsCertFile: # ENV: KUMA_ADMIN_SERVER_PUBLIC_TLS_CERT_FILE
    # Path to TLS key file
    tlsKeyFile: # ENV: KUMA_ADMIN_SERVER_PUBLIC_TLS_KEY_FILE
    # Directory of authorized client certificates
    clientCertsDir: # ENV: KUMA_ADMIN_SERVER_PUBLIC_CLIENT_CERTS_DIR"
  # Admin Server APIs configuration
  apis:
    # Dataplane Token API configuration
    dataplaneToken:
      # If true then Dataplane Token and token verification is enabled
      enabled: true # ENV: KUMA_ADMIN_SERVER_APIS_DATAPLANE_TOKEN_ENABLED

# Envoy XDS server configuration
xdsServer:
  # Port of GRPC server that Envoy connects to
  grpcPort: 5678 # ENV: KUMA_XDS_SERVER_GRPC_PORT
  # Port of Diagnostic Server for checking health and readiness of the Control Plane
  diagnosticsPort: 5680 # ENV: KUMA_XDS_SERVER_DIAGNOSTICS_PORT
  # Interval for re-genarting configuration for Dataplanes connected to the Control Plane
  dataplaneConfigurationRefreshInterval: 1s # ENV: KUMA_XDS_SERVER_DATAPLANE_CONFIGURATION_REFRESH_INTERVAL
  # Interval for flushing status of Dataplanes connected to the Control Plane
  dataplaneStatusFlushInterval: 1s # ENV: KUMA_XDS_SERVER_DATAPLANE_STATUS_FLUSH_INTERVAL
  # TlsCertFile defines a path to a file with PEM-encoded TLS cert.
  tlsCertFile: # ENV: KUMA_XDS_SERVER_TLS_CERT_FILE
  # TlsKeyFile defines a path to a file with PEM-encoded TLS key.
  tlsKeyFile: # ENV: KUMA_XDS_SERVER_TLS_KEY_FILE

# API Server configuration
apiServer:
  # Port of the API Server
  port: 5681 # ENV: KUMA_API_SERVER_PORT
  # If true, then API Server will operate in read only mode (serving GET requests)
  readOnly: false # ENV: KUMA_API_SERVER_READ_ONLY
  # Allowed domains for Cross-Origin Resource Sharing. The value can be either domain or regexp
  corsAllowedDomains:
    - ".*" # ENV: KUMA_API_SERVER_CORS_ALLOWED_DOMAINS
  catalog:
    bootstrap:
      # Public URL to reach Bootstrap server. ex: https://bootstrap.kuma.io:1234, its autoconfigured if blank
      url: # ENV: KUMA_API_SERVER_CATALOG_BOOTSTRAP_URL
    monitoringAssignment:
      # Public URL to reach mad server. ex: https://mads.kuma.io:1234, its autoconfigured if blank
      url: # ENV: KUMA_API_SERVER_CATALOG_MONITORING_ASSIGNMENT_URL
    sds:
      # Public url to reach SDS server. ex: https://sds.kuma.io:1234, its autoconfigured to XDS server if blank
      url: # ENV: KUMA_API_SERVER_CATALOG_SDS_URL

# Environment-specific configuration
runtime:
  # Kubernetes-specific configuration
  kubernetes:
    # Admission WebHook Server configuration
    admissionServer:
      # Address the Admission WebHook Server should be listening on
      address:
      # Port the Admission WebHook Server should be listening on
      port: 5443
      # Directory with a TLS cert and private key for the Admission WebHook Server.
      # TLS certificate file must be named `tls.crt`.
      # TLS key file must be named `tls.key`.
      certDir:
    injector:
      cniEnabled: false
      virtualProbesEnabled: true
      virtualProbesPort: 9000
      sidecarContainer:
        image: kuma/kuma-dp:latest
        redirectPortInbound: 15006
        redirectPortOutbound: 15001
        uid: 5678
        gid: 5678
        adminPort: 9901
        drainTime: 30s

        readinessProbe:
          initialDelaySeconds: 1
          timeoutSeconds:      3
          periodSeconds:       5
          successThreshold:    1
          failureThreshold:    12
        livenessProbe:
          initialDelaySeconds: 60
          timeoutSeconds:      3
          periodSeconds:       5
          failureThreshold:    12
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 1000m
            memory: 512Mi
      initContainer:
        image: kuma/kuma-init:latest
  universal:
    dataplaneCleanupAge: 72h0m0s

# Default Kuma entities configuration
defaults:
  skipMeshCreation: false # ENV: KUMA_DEFAULTS_SKIP_MESH_CREATION

# Metrics configuration
metrics:
  dataplane:
    # Enables collecting metrics from Dataplane
    enabled: true # ENV: KUMA_METRICS_DATAPLANE_ENABLED
    # How many latest subscriptions will be stored in DataplaneInsight object, if equals 0 then unlimited
    subscriptionLimit: 10 # ENV: KUMA_METRICS_DATAPLANE_SUBSCRIPTION_LIMIT
  zone:
    # Enables collecting metrics from Zone
    enabled: true # ENV: KUMA_METRICS_ZONE_ENABLED
    # How many latest subscriptions will be stored in ZoneInsights object, if equals 0 then unlimited
    subscriptionLimit: 10 # ENV: KUMA_METRICS_ZONE_SUBSCRIPTION_LIMIT

# Reports configuration
reports:
  # If true then usage stats will be reported
  enabled: true # ENV: KUMA_REPORTS_ENABLED

# General configuration
general:
  # Hostname that other components should use in order to connect to the Control Plane.
  # Control Plane will use this value in configuration generated for dataplanes, in responses to `kumactl`, etc.
  advertisedHostname: localhost # ENV: KUMA_GENERAL_ADVERTISED_HOSTNAME
  # dnsCacheTTL represents duration for how long Kuma CP will cache result of resolving dataplane's domain name
  dnsCacheTTL: 10s

# Web GUI Server configuration
guiServer:
  # URL of the Api Server
  apiServerUrl: # ENV: KUMA_GUI_SERVER_API_SERVER_URL

# DNS Server configuration
dnsServer:
  # The domain that the server will resolve the services for
  domain: "mesh" # ENV: KUMA_DNS_SERVER_DOMAIN
  # Port on which the server is exposed
  port: 5653 # ENV: KUMA_DNS_SERVER_PORT
  # The CIDR range used to allocate
  CIDR: "240.0.0.0/4" # ENV: KUMA_DNS_SERVER_CIDR

# Multicluster mode
multicluster:
  global:
    # The Zone status poller timeout
    pollTimeout: 500ms # ENV: KUMA_MULTICLUSTER_GLOBAL_POLL_TIMEOUT
    kds:
      # Port of a gRPC server that serves Kuma Discovery Service (KDS).
      grpcPort: 5685 # ENV: KUMA_MULTICLUSTER_GLOBAL_KDS_GRPC_PORT
      # Interval for refreshing state of the world
      refreshInterval: 1s # ENV: KUMA_MULTICLUSTER_GLOBAL_KDS_REFRESH_INTERVAL
      # TlsCertFile defines a path to a file with PEM-encoded TLS cert.
      tlsCertFile: # ENV: KUMA_MULTICLUSTER_GLOBAL_KDS_TLS_CERT_FILE
      # TTlsKeyFile defines a path to a file with PEM-encoded TLS key.
      tlsKeyFile: # ENV: KUMA_MULTICLUSTER_GLOBAL_KDS_TLS_KEY_FILE
  remote:
    # Kuma Zone name used to mark the remote dataplane resources
    zone: "" # ENV: KUMA_MULTICLUSTER_REMOTE_ZONE
    # GlobalAddress URL of Global Kuma CP
    globalAddress: # ENV KUMA_MULTICLUSTER_REMOTE_GLOBAL_ADDRESS
    kds:
      # Interval for refreshing state of the world
      refreshInterval: 1s # ENV: KUMA_MULTICLUSTER_REMOTE_KDS_REFRESH_INTERVAL
      # RootCAFile defines a path to a file with PEM-encoded Root CA. Client will verify server by using it.
      rootCaFile: # ENV: KUMA_MULTICLUSTER_REMOTE_KDS_ROOT_CA_FILE

# Diagnostics configuration
diagnostics:
  # If true, enables https://golang.org/pkg/net/http/pprof/ debug endpoints
  debugEndpoints: false # ENV: KUMA_DIAGNOSTICS_DEBUG_ENDPOINTS
