---
apiVersion: v1
kind: Service
metadata:
  name: example-server
spec:
  ports:
  - port: 80
    name: http
  selector:
    app: example-server
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: example-server
  labels:
    app: example-server
spec:
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: example-server
  template:
    metadata:
      labels:
        app: example-server
    spec:
      containers:
      - name: nginx
        image: "nginx:latest"
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 10m
            memory: 32Mi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: example-client
  labels:
    app: example-client
spec:
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: example-client
  template:
    metadata:
      labels:
        app: example-client
    spec:
      containers:
        - name: alpine
          image: "alpine:latest"
          imagePullPolicy: IfNotPresent
          command: ["sh", "-c", "tail -f /dev/null"]
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
