on:
  workflow_call:
    inputs:
      FULL_MATRIX:
        required: true
        type: string
      ALLOW_PUSH:
        required: true
        type: string
      BINARY_ARTIFACT_NAME:
        required: true
        type: string
      IMAGE_ARTIFACT_NAME:
        required: true
        type: string
      IMAGES:
        required: true
        type: string
      REGISTRY:
        required: true
        type: string
      VERSION_NAME:
        required: true
        type: string
      NOTARY_REPOSITORY:
        required: true
        type: string
    outputs:
      BINARY_ARTIFACT_DIGEST_BASE64:
        value: ${{ jobs.build-binaries.outputs.BINARY_ARTIFACT_DIGEST_BASE64 }}
      IMAGE_DIGESTS:
        value: ${{ jobs.digest-images.outputs.DIGESTS }}
permissions:
  contents: read
env:
  CI_TOOLS_DIR: "/home/runner/work/kuma/kuma/.ci_tools"
  FULL_MATRIX: ${{ inputs.FULL_MATRIX }}
  ALLOW_PUSH: ${{ inputs.ALLOW_PUSH }}
  GH_OWNER: ${{ github.repository_owner }}
  GH_USER: "github-actions[bot]"
  GH_EMAIL: "<41898282+github-actions[bot]@users.noreply.github.com>"
  GH_REPO: "charts"
  GITHUB_TOKEN: ${{ github.token }}
  MISE_DISABLE_TOOLS: "clang-format,golangci-lint,skaffold"
jobs:
  build-binaries:
    timeout-minutes: 70
    runs-on: ubuntu-24.04
    outputs:
      BINARY_ARTIFACT_DIGEST_BASE64: ${{ steps.inspect-binary-output.outputs.binary_artifact_digest_base64 }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod
      - uses: jdx/mise-action@c37c93293d6b742fc901e1406b8f764f6fb19dac # v2.4.4
      - run: |
          make build
      - id: annotate-image-tag
        name: Image tag
        run: |
          echo "::notice title=Image tag::$(make build/info/version)"
      - run: |
          make -j build/distributions
      - id: inspect-binary-output
        run: |
          for i in build/distributions/out/*.tar.gz; do echo $i; tar -tvf $i; done
          echo "Artifact digest:"
          cat ./build/distributions/artifact_digest_file.text
          echo "binary_artifact_digest_base64=$(cat ./build/distributions/artifact_digest_file.text)" > $GITHUB_OUTPUT
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        id: binary-artifacts
        with:
          name: ${{ inputs.BINARY_ARTIFACT_NAME }}
          path: |
            ./build/distributions/out/*.tar.gz
            ./build/distributions/out/*.sha256
            !./build/distributions/out/*.tar.gz.sha256
          retention-days: ${{ github.event_name == 'pull_request' && 1 || 10 }}
      - name: publish binaries
        env:
          PULP_USERNAME: ${{ vars.PULP_USERNAME }}
          PULP_PASSWORD: ${{ secrets.PULP_PASSWORD }}
          CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}
        run: |
          make publish/pulp
  build-images:
    runs-on: ubuntu-24.04
    permissions:
      id-token: write # Required for image signing
      contents: read
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        image: ${{ fromJSON(inputs.images) }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Install dependencies for cross builds
        if: ${{ fromJSON(inputs.FULL_MATRIX) }}
        run: |
          sudo apt-get update; sudo apt-get install -y qemu-user-static binfmt-support
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod
      - uses: jdx/mise-action@c37c93293d6b742fc901e1406b8f764f6fb19dac # v2.4.4
      - id: image_meta
        run: |
          echo "Extracting image meta for ${{ matrix.image }}"
          echo "image=${{ inputs.REGISTRY }}/${{ matrix.image }}:${{ inputs.VERSION_NAME }}" >> $GITHUB_OUTPUT
      - run: |
          make images/${{ matrix.image }}
      - run: |
          make docker/save/${{ matrix.image }}
      - name: Run container structure test
        if: ${{ !contains(github.event.pull_request.labels.*.name, 'ci/skip-container-structure-test') && !contains(github.event.pull_request.labels.*.name, 'ci/skip-test') }}
        run: |
          make test/container-structure/${{ matrix.image }}
      - name: scan amd64 image
        id: scan_image-amd64
        uses: Kong/public-shared-actions/security-actions/scan-docker-image@e33f6f6d5ccdaa8af245f29896a51fada48c5d7e # v4.2.4
        with:
          asset_prefix: image_${{ matrix.image }}-amd64
          image: ./build/docker/${{ matrix.image }}-amd64.tar
          upload-sbom-release-assets: true
          skip_cis_scan: false
      - name: scan arm64 image
        id: scan_image-arm64
        if: ${{ fromJSON(inputs.FULL_MATRIX) }}
        uses: Kong/public-shared-actions/security-actions/scan-docker-image@e33f6f6d5ccdaa8af245f29896a51fada48c5d7e # v4.2.4
        with:
          asset_prefix: image_${{ matrix.image }}-arm64
          image: ./build/docker/${{ matrix.image }}-arm64.tar
          upload-sbom-release-assets: true
          skip_cis_scan: false
        # TODO in the future we may want to have prerelease images and use `regctl image copy` to move them to their final location
      - name: publish images
        id: release_images
        env:
          DOCKER_API_KEY: ${{ secrets.DOCKER_API_KEY }}
          DOCKER_USERNAME: ${{ vars.DOCKER_USERNAME }}
        run: |-
          make docker/login
          # ensure we always logout
          function on_exit() {
            make docker/logout
          }
          trap on_exit EXIT
          make docker/push/${{ matrix.image }}
          make docker/manifest/${{ matrix.image }}
      - name: Install regctl
        uses: regclient/actions/regctl-installer@03ca0eeb8348921b9447b7d5d6b6d350550ddb3b
      - name: image digest
        id: image_digest
        if: ${{ fromJSON(inputs.ALLOW_PUSH) }}
        run: |
          echo "Fetching image digest for ${{ matrix.image }}"
          digest=$(regctl image digest ${{ steps.image_meta.outputs.image }})
          echo "Got digest: $digest"
          echo "digest=${digest}" >> $GITHUB_OUTPUT
          echo "{\"${{matrix.image}}\": \"${digest}\"}" > ./build/docker/${{ matrix.image }}.digest.json
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        id: image-artifacts
        with:
          name: image_${{ matrix.image }}
          path: |
            ./build/docker/*.tar
          retention-days: ${{ github.event_name == 'pull_request' && 1 || 10 }}
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        id: image-digest-artifacts
        with:
          name: image_${{ matrix.image }}.digest.json
          path: |
            ./build/docker/${{ matrix.image }}.digest.json
          retention-days: ${{ github.event_name == 'pull_request' && 1 || 10 }}
      - name: sign image
        if: ${{ fromJSON(inputs.ALLOW_PUSH) }}
        id: sign
        uses: Kong/public-shared-actions/security-actions/sign-docker-image@80442c24d193f2a116f9305723ac144a297a8c6a # v4.1.2
        with:
          image_digest: ${{ steps.image_digest.outputs.digest }}
          tags: ${{ steps.image_meta.outputs.image }}
          signature_registry: ${{ inputs.REGISTRY }}/${{inputs.NOTARY_REPOSITORY}}
          registry_username: ${{ vars.DOCKER_USERNAME }}
          registry_password: ${{ secrets.DOCKER_API_KEY }}
  digest-images:
    needs: [build-images]
    runs-on: ubuntu-24.04
    if: ${{ fromJSON(inputs.ALLOW_PUSH) }}
    outputs:
      DIGESTS: ${{ steps.compute-digests.outputs.digests }}
    steps:
      - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          pattern: "image_*.digest.json"
          path: ./digests
          merge-multiple: true
      - id: compute-digests
        run: |
          # Create an object of digests indexed by image (.e.g: {"kuma-cp": "sha256:1234", "kuma-dp": "sha256:5678" ...})
          echo "digests<<EOF" >> $GITHUB_OUTPUT
          jq --slurp 'reduce .[] as $item ({}; . * $item)' ./digests/*.digest.json >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
  publish-helm:
    needs: [build-images]
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Install dependencies for cross builds
        if: ${{ fromJSON(inputs.FULL_MATRIX) }}
        run: |
          sudo apt-get update; sudo apt-get install -y qemu-user-static binfmt-support
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod
          cache-dependency-path: |
            go.sum
      - uses: jdx/mise-action@c37c93293d6b742fc901e1406b8f764f6fb19dac # v2.4.4
      - name: package-helm-chart
        id: package-helm
        env:
          HELM_DEV: ${{ github.ref_type != 'tag' }}
        run: |
          make helm/update-version

          git config user.name "${GH_USER}"
          git config user.email "${GH_EMAIL}"
          git add -u deployments/charts
          # This commit never ends up in the repo
          git commit --allow-empty -m "ci(helm): update versions"
          # To get an idea of what's in the commit to debug
          git show

          make helm/package
          PKG_FILENAME=$(find .cr-release-packages -type f -printf "%f\n")
          echo "filename=${PKG_FILENAME}" >> $GITHUB_OUTPUT
      - name: Upload packaged chart
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: ${{ steps.package-helm.outputs.filename }}
          path: .cr-release-packages/${{ steps.package-helm.outputs.filename }}
          retention-days: ${{ github.event_name == 'pull_request' && 1 || 10 }}
      # Everything from here is only running on releases.
      # Ideally we'd finish the workflow early, but this isn't possible: https://github.com/actions/runner/issues/662
      - name: Generate GitHub app token
        id: github-app-token
        if: ${{ github.ref_type == 'tag' }}
        uses: actions/create-github-app-token@a8d616148505b5069dccd32f177bb87d7f39123b # v2.1.1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: ${{ env.GH_REPO }}
      - name: Release chart
        if: ${{ github.ref_type == 'tag' }}
        env:
          GITHUB_APP: "true"
          GH_TOKEN: ${{ steps.github-app-token.outputs.token }}
        run: make helm/release
