name: Auto backport label
on:
  pull_request_target:
    types: [opened, synchronize, labeled]
env:
  PREDEFINED_GLOBS: ".github/**/*,.circleci/**/*,Makefile,mk/**/*,tools/**/*,.golangci.yml,.kube-linter.yaml"
  LABEL_TO_ADD: backport
  NO_BACKPORT_AUTOLABEL: no-backport-autolabel
permissions:
  contents: read
jobs:
  backport_label:
    runs-on: ubuntu-24.04
    permissions:
      issues: write
    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: 0
      - name: Check diff and add label
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          tools/ci/needs_backporting.sh "${{ github.repository }}" "${{ github.event.pull_request.number }}" "origin/${{ github.base_ref }}" "HEAD" "$PREDEFINED_GLOBS" "$LABEL_TO_ADD" "$NO_BACKPORT_AUTOLABEL"
