name: "build-test-distribute"
on:
  push:
    branches: ["master", "release-*", "!*-merge-master"]
    tags: ["*"]
  pull_request:
    branches: ["master", "release-*"]
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
permissions:
  contents: read
env:
  KUMA_DIR: "."
  CI_TOOLS_DIR: "/home/runner/work/kuma/kuma/.ci_tools"
jobs:
  check:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    outputs:
      FULL_MATRIX: ${{ github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'ci/run-full-matrix') }}
      ALLOW_PUSH: ${{ github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'ci/force-publish') }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: 0
      - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version-file: go.mod
          cache: false
      - uses: actions/cache@13aacd865c20de90d75de3b17ebe84f7a17d57d2 # v4.0.0
        with:
          path: |
            ${{ env.CI_TOOLS_DIR }}
          key: ${{ runner.os }}-${{ runner.arch }}-devtools-${{ hashFiles('mk/dependencies/deps.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ runner.arch }}-devtools
      - run: |
          make dev/tools
      - uses: golangci/golangci-lint-action@3cfe3a4abbb849e10058ce4af15d205b6da42804 # v4.0.0
        with:
          args: --fix=false --verbose
          version: v1.56.1
          skip-pkg-cache: true
      - run: |
          make clean
      - run: |
          make check
  test:
    needs: ["check"]
    if: ${{ ! contains(github.event.pull_request.labels.*.name, 'ci/skip-test') }}
    uses: ./.github/workflows/_test.yaml
    with:
      FULL_MATRIX: ${{ needs.check.outputs.FULL_MATRIX }}
    secrets: inherit
  build:
    needs: ["check"]
    uses: ./.github/workflows/_build.yaml
    with:
      FULL_MATRIX: ${{ needs.check.outputs.FULL_MATRIX }}
      IMAGE_ARTIFACT_NAME: "image_artifacts"
      BINARY_ARTIFACT_NAME: "binary_artifacts"
    secrets: inherit
  publish:
    needs: ["check", "build", "test"]
    uses: ./.github/workflows/_publish.yaml
    with:
      FULL_MATRIX: ${{ needs.check.outputs.FULL_MATRIX }}
      ALLOW_PUSH: ${{ needs.check.outputs.ALLOW_PUSH }}
      IMAGE_ARTIFACT_NAME: "image_artifacts"
      BINARY_ARTIFACT_NAME: "binary_artifacts"
    secrets: inherit
  distributions:
    needs: ["publish"]
    timeout-minutes: 10
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - name: "Halt due to previous failures"
        if: ${{ contains(needs.*.result, 'failure')|| contains(needs.*.result, 'cancelled') }}
        run: |
          exit 1
          # for some reason, GH Action will always trigger a downstream job even if there are errors in an dependent job
          # so we manually check it here. An example could be found here: https://github.com/kumahq/kuma/actions/runs/7044980149
