name: "build-test-distribute"
on:
  push:
    branches: ["master", "release-*", "!*-merge-master"]
    tags: ["*"]
  pull_request:
    branches: ["master", "release-*"]
  workflow_dispatch: # Allows manual trigger from GitHub Actions UI or via REST call
permissions:
  contents: write # To upload assets
  id-token: write # For using token to sign images
  actions: read # For getting workflow run info to build provenance
  packages: write # Required for publishing provenance. Issue: https://github.com/slsa-framework/slsa-github-generator/tree/main/internal/builders/container#known-issues
env:
  KUMA_DIR: "."
  CI_TOOLS_DIR: "/home/runner/work/kuma/kuma/.ci_tools"
jobs:
  check:
    permissions:
      contents: read
      # golangci-lint-action
      checks: write
    timeout-minutes: 25
    runs-on: ubuntu-24.04
    env:
      FULL_MATRIX: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' || contains(github.event.pull_request.labels.*.name, 'ci/run-full-matrix') }}
      ALLOW_PUSH: ${{ github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'ci/force-publish') }}
      BUILD: ${{ github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'ci/run-build') || contains(github.event.pull_request.labels.*.name, 'ci/force-publish') }}
      FORCE_PUBLISH_FROM_FORK: ${{ github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'ci/force-publish') && github.event.pull_request.head.repo.full_name != github.repository }}
    outputs:
      FULL_MATRIX: ${{ env.FULL_MATRIX }}
      ALLOW_PUSH: ${{ env.ALLOW_PUSH }}
      BUILD: ${{ env.BUILD }}
      IMAGES: ${{ steps.metadata.outputs.images }}
      REGISTRY: ${{ steps.metadata.outputs.registry }}
      VERSION_NAME: ${{ steps.metadata.outputs.version }}
      NOTARY_REPOSITORY: ${{ (contains(steps.metadata.outputs.version, 'preview') && 'notary-internal') || 'notary' }}
      CLOUDSMITH_REPOSITORY: ${{ steps.metadata.outputs.distribution_repository }}
    steps:
      - name: "Fail when 'ci/force-publish' label is present on PRs from forks"
        if: ${{ fromJSON(env.FORCE_PUBLISH_FROM_FORK) }}
        run: |
          echo "::error title=Label 'ci/force-publish' cannot be used on PRs from forks::To prevent accidental exposure of secrets, CI won't use repository secrets on pull requests from forks"
          exit 1
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0
      - uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
        with:
          go-version-file: go.mod
          cache: false
      - uses: golangci/golangci-lint-action@a4f60bb28d35aeee14e6880718e0c85ff1882e64 # v6.0.1
        with:
          args: --fix=false --verbose
<<<<<<< HEAD
          version: v1.59.0
      - uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4.0.2
=======
          version: v1.60.3
      - uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4.2.0
>>>>>>> ef8eb9fce (chore(deps): upgrade actions/cache from v4.1.0 to v4.2.0 (#12485))
        with:
          path: |
            ${{ env.CI_TOOLS_DIR }}
          key: ${{ runner.os }}-${{ runner.arch }}-devtools-${{ hashFiles('mk/dependencies/deps.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ runner.arch }}-devtools
      - run: |
          make dev/tools
      - run: |
          make clean
      - run: |
          make check
      - id: sca-project
        uses: Kong/public-shared-actions/security-actions/sca@0aaaa49782e9028086feb943ec04e03e35e3f813 # v2.7.2
        with:
          dir: .
          config: .syft.yaml
          upload-sbom-release-assets: true
      - id: metadata
        run: |
          echo "images=$(make images/info/release/json)" >> $GITHUB_OUTPUT
          echo "registry=$(make docker/info/registry)" >> $GITHUB_OUTPUT
          echo "version=$(make build/info/version)" >> $GITHUB_OUTPUT
          echo "distribution_repository=$(make build/info/cloudsmith_repository)" >> $GITHUB_OUTPUT
  test:
    permissions:
      contents: read
    needs: ["check"]
    uses: ./.github/workflows/_test.yaml
    with:
      FULL_MATRIX: ${{ needs.check.outputs.FULL_MATRIX }}
      RUNNERS_BY_ARCH: ${{ (github.event_name == 'push' || github.event_name == 'workflow_dispatch' || github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository) && '{"amd64":"ubuntu-latest-kong","arm64":"ubuntu-latest-arm64-kong"}' || '{"amd64":"ubuntu-24.04","arm64":""}' }}
    secrets: inherit
  build_publish:
    permissions:
      contents: read
      id-token: write
    needs: ["check", "test"]
    uses: ./.github/workflows/_build_publish.yaml
    if: ${{ fromJSON(needs.check.outputs.BUILD) }}
    with:
      FULL_MATRIX: ${{ needs.check.outputs.FULL_MATRIX }}
      ALLOW_PUSH: ${{ needs.check.outputs.ALLOW_PUSH }}
      IMAGE_ARTIFACT_NAME: "image_artifacts"
      BINARY_ARTIFACT_NAME: "binary_artifacts"
      IMAGES: ${{ needs.check.outputs.IMAGES }}
      REGISTRY: ${{ needs.check.outputs.REGISTRY }}
      NOTARY_REPOSITORY: ${{ needs.check.outputs.NOTARY_REPOSITORY }}
      VERSION_NAME: ${{ needs.check.outputs.VERSION_NAME }}
    secrets: inherit
  provenance:
    needs: ["check", "build_publish"]
    if: ${{ github.ref_type == 'tag' }}
    uses: ./.github/workflows/_provenance.yaml
    secrets: inherit
    permissions:
      contents: write
      id-token: write # For using token to sign images
      actions: read # For getting workflow run info to build provenance
      packages: write # Required for publishing provenance. Issue: https://github.com/slsa-framework/slsa-github-generator/tree/main/internal/builders/container#known-issues
    with:
      BINARY_ARTIFACTS_HASH_AS_FILE: ${{ needs.build_publish.outputs.BINARY_ARTIFACT_DIGEST_BASE64 }}
      IMAGES: ${{ needs.check.outputs.IMAGES }}
      REGISTRY: ${{ needs.check.outputs.REGISTRY }}
      NOTARY_REPOSITORY: ${{ needs.check.outputs.NOTARY_REPOSITORY }}
      IMAGE_DIGESTS: ${{ needs.build_publish.outputs.IMAGE_DIGESTS }}
  distributions:
    needs: ["build_publish", "check", "test", "provenance"]
    timeout-minutes: 10
    if: ${{ always() }}
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      actions: read # For getting workflow run info
    env:
      SECURITY_ASSETS_DOWNLOAD_PATH: "${{ github.workspace }}/security-assets"
      SECURITY_ASSETS_PACKAGE_NAME: "security-assets" # Cloudsmith package for hosting security assets
    steps:
      - name: "Halt due to previous failures"
        run: |-
          echo "results: ${{ toJson(needs.*.result) }}"
          # for some reason, GH Action will always trigger a downstream job even if there are errors in an dependent job
          # so we manually check it here. An example could be found here: https://github.com/kumahq/kuma/actions/runs/7044980149
          [[ ${{ contains(needs.*.result, 'failure')|| contains(needs.*.result, 'cancelled') }} == "true" ]] && exit 1
          echo "All dependent jobs succeeded"
      - name: "Download all SBOM assets"
        id: collect_sbom
        if: ${{ needs.build_publish.result == 'success' }}
        uses: actions/download-artifact@v4
        with:
          path: ${{ env.SECURITY_ASSETS_DOWNLOAD_PATH }}
          pattern: "*sbom.{cyclonedx,spdx}.json"
          merge-multiple: true
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: "Download binary artifact provenance"
        if: ${{ needs.provenance.result == 'success' && github.ref_type == 'tag' }}
        id: collect_provenance
        uses: actions/download-artifact@v4
        with:
          path: ${{ env.SECURITY_ASSETS_DOWNLOAD_PATH }}
          pattern: ${{ github.event.repository.name }}.intoto.jsonl
          merge-multiple: true
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: "Generate security assets TAR"
        if: ${{ needs.build_publish.result == 'success' }}
        id: security_assets_metadata
        run: |
          cd ${{ env.SECURITY_ASSETS_DOWNLOAD_PATH }}
          find . -maxdepth 1 -type f \( -name '*sbom.*.json' -o -name '*.intoto.jsonl' \) -print | tar -cvzf ${{ env.SECURITY_ASSETS_PACKAGE_NAME }}.tar.gz -T -
          ls -alR .
        # Publish aggregated zip file of SBOMs and/or Binary Provenance to artifact regstry
      - name: Push security assets to cloudsmith
        id: push_security_assets
        if: ${{ needs.provenance.result == 'success' || needs.build_publish.result == 'success' }}
        uses: cloudsmith-io/action@fb7f7806ffbb6f2f928b693d5da524811a0d003a # v0.6.9
        with:
          api-key: ${{ secrets.CLOUDSMITH_API_KEY }}
          command: "push"
          format: "raw"
          owner: "kong"
          repo: "${{ needs.check.outputs.CLOUDSMITH_REPOSITORY }}"
          version: "${{ needs.check.outputs.VERSION_NAME }}"
          file: "${{ env.SECURITY_ASSETS_DOWNLOAD_PATH }}/${{ env.SECURITY_ASSETS_PACKAGE_NAME }}.tar.gz"
          name: "${{ env.SECURITY_ASSETS_PACKAGE_NAME }}"
          summary: "SLSA security artifacts for ${{ github.repository }}"
          description: "SBOM and Binary artifact Provenance for ${{ github.repository }}"
