name: Golangci-lint
on:
  push:
    branches:
      - master
      - release-*
  pull_request:
permissions:
  contents: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          cache: false
          go-version: 1.20.5
      - uses: golangci/golangci-lint-action@v3
        with:
          args: --verbose
          version: v1.53.3
