name: "Helm Charts"

# This workflow provides two things:
# On explicit dispatch, it packages, uploads and releases the chart to the
# charts repo.
#   It uses the appVersion and version as present in Chart.yaml.
# On push to master, it packages and uploads a helm chart for the pushed commit.
#   It updates both appVersion and version to be specific to this commit.
#   See tools/release/helm.sh#dev_version
# This workflow can be tested by any owner with a fork of kumahq/kuma and kumahq/charts
on:
  push:
    branches:
      - master
      - release-*
  pull_request: {}
  workflow_dispatch:
    inputs:
      release:
        description: Release charts
        required: false
        default: false
        type: boolean

env:
  CR_VERSION: 1.3.0

  GH_USER: "github-actions[bot]"
  GH_EMAIL: "<41898282+github-actions[bot]@users.noreply.github.com>"
  GH_OWNER: ${{ github.repository_owner }}
  GITHUB_APP: "true"
  KUMA_DIR: "."

jobs:
  package:
    name: Package
    runs-on: ubuntu-latest
    outputs:
      filename: ${{ steps.package.outputs.filename }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: |
          curl -L "https://github.com/helm/chart-releaser/releases/download/v${CR_VERSION}/chart-releaser_${CR_VERSION}_linux_amd64.tar.gz" | sudo tar xvz --directory /usr/bin cr

          make dev/tools
      - name: Update chart versions
        id: update-chart-version
        run: |
          git config user.name "${GH_USER}"
          git config user.email "${GH_EMAIL}"

          args="--update-version"
          if [[ ${{ github.event_name }} == "push" ]]; then
            args="${args} --dev"
          fi
          ${{ env.KUMA_DIR }}/tools/releases/helm.sh ${args}
      - name: Commit chart versions
        run: |
          git add -u deployments/charts
          # This commit never ends up in the repo
          git commit --allow-empty -m "ci(helm): update versions"
      - name: Package chart
        id: package
        run: |
          ${{ env.KUMA_DIR }}/tools/releases/helm.sh --package

          PKG_FILENAME=$(find .cr-release-packages -type f -printf "%f\n")
          echo "filename=${PKG_FILENAME}" >> $GITHUB_OUTPUT
      - name: Upload packaged chart
        uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.package.outputs.filename }}
          path: .cr-release-packages/${{ steps.package.outputs.filename }}
          retention-days: ${{ github.event_name == 'pull_request' && 1 || 30 }}

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: package
    environment: charts
    # https://github.com/actions/runner/issues/1483
    if: github.event.inputs.release == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install chart-releaser
        run:
          curl -L "https://github.com/helm/chart-releaser/releases/download/v${CR_VERSION}/chart-releaser_${CR_VERSION}_linux_amd64.tar.gz"
          | sudo tar xvz --directory /usr/bin cr
      - name: Download packaged chart
        uses: actions/download-artifact@v3
        with:
          name: ${{ needs.package.outputs.filename }}
          path: .cr-release-packages
      - name: Generate GitHub app token
        id: github-app-token
        uses: tibdex/github-app-token@b62528385c34dbc9f38e5f4225ac829252d1ea92 # v1.8.0
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}
          repository: ${{ env.GH_OWNER }}/charts
      - name: Release chart
        env:
          GH_TOKEN: ${{ steps.github-app-token.outputs.token }}
        run: ${{ env.KUMA_DIR }}/tools/releases/helm.sh --release
