name: project-lifecycle
on:
  schedule:
    - cron: 0 7 * * *
  workflow_dispatch:
  issues:
    types:
      - reopened
      - opened
      - labeled
permissions:
  contents: read
jobs:
  lifecycle:
    permissions:
      issues: write
    uses: kumahq/.github/.github/workflows/wfc_lifecycle.yml@f98e381472c34234ecdaa4f26d72996d55d16759
    with:
      filesToIgnore: CONTRIBUTING.md
    secrets:
      app_id: ${{ secrets.APP_ID }}
      private_key: ${{ secrets.APP_PRIVATE_KEY }}
