name: "Merge release to master"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false
on:
  push:
    branches: ["release-*"]
  workflow_dispatch: {}
permissions:
  contents: read
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
        with:
          ref: "master"
          fetch-depth: 0
      - uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
        with:
          go-version-file: go.mod
      - run: |
          make dev/tools
      - run: |
          git config --global user.email "110050114+kumahq[bot]@users.noreply.github.com"
          git config --global user.name "kumahq[bot]"
      - id: latest-branch
        run: |
          echo "branch=$(make dev/print-latest-release-branch)" >> $GITHUB_OUTPUT
      - run: |
          if [[ "refs/heads/${{ steps.latest-branch.outputs.branch }}" == "${{ github.ref }}" ]]; then
            make dev/merge-release
          fi
      - id: commit-changes
        run: |
          git status
          # "git merge HEAD" is the way to check if merge is in progress
          if git merge HEAD &> /dev/null; then
            echo "skipping commit"
            echo "changes=skipped" >> $GITHUB_OUTPUT
          else
            echo "commit changes"
            git commit -s -m "chore(merge): ${{ steps.latest-branch.outputs.branch }} branch to master"
            echo "changes=committed" >> $GITHUB_OUTPUT
          fi
      - name: Generate GitHub app token
        id: github-app-token
        uses: actions/create-github-app-token@5d869da34e18e7287c1daad50e0b8ea0f506ce69 # v1.11.0
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: "Create Pull Request"
        uses: peter-evans/create-pull-request@5e914681df9dc83aa4e4905692ca88beb2f9e91f # v7.0.5
        if: steps.commit-changes.outputs.changes == 'committed'
        with:
          commit-message: "chore(merge): ${{ steps.latest-branch.outputs.branch }} branch to master"
          signoff: true
          branch: chore/merge-release-to-master
          base: master
          delete-branch: true
          title: "chore(merge): ${{ steps.latest-branch.outputs.branch }} branch to master"
          draft: false
          token: ${{ steps.github-app-token.outputs.token }}
          committer: kumahq[bot] <110050114+kumahq[bot]@users.noreply.github.com>
          author: kumahq[bot] <110050114+kumahq[bot]@users.noreply.github.com>
          body: |
            **Do NOT squash on merging.** Allow merge commit first in the [repository settings](https://github.com/${{ github.repository }}/settings).
            
            Generated by [action](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})
