name: "Notify about merged PRs"

on:
  pull_request_target:
    types: [closed]
    branches:
      - master
      - release-*

jobs:
  notify-about-merged-pr:
    if: github.event.pull_request.merged
    name: "Notify about merged PR"
    runs-on: ubuntu-latest
    steps:
      - name: "Send repository dispatch event"
        uses: actions/github-script@v5
        with:
          github-token: ${{ secrets.NOTIFY_GH_TOKEN }}
          script: |
            return github.rest.repos.createDispatchEvent({
              owner: '${{ secrets.NOTIFY_OWNER }}',
              repo: '${{ secrets.NOTIFY_REPO }}',
              event_type: '${{ secrets.NOTIFY_EVENT_TYPE }}',
              client_payload: {
                branch: context.payload.pull_request.base.ref,
                pr: context.payload.pull_request.number,
              },
            });
