name: "Test Transparent Proxy"
on:
  workflow_dispatch:
  schedule:
    - cron: 0 2 * * *
env:
  CI_TOOLS_DIR: "/home/runner/work/kuma/kuma/.ci_tools"
  IPV6: "true"
permissions:
  contents: read
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: jdx/mise-action@c53b9236f0b3370f31520f8b142f141256d839c6 # v3.6.0
        env:
          GITHUB_TOKEN: ${{ github.token }}
          MISE_DISABLE_TOOLS: "golangci-lint,skaffold"
      - name: "Enable IPv6 for Docker and enable necessary kernel modules for ip6tables"
        run: |
          cat <<'EOF' | sudo tee /etc/docker/daemon.json
          {
            "ipv6": true,
            "fixed-cidr-v6": "2001:db8:1::/64",
            "dns": ["8.8.8.8"],
            "dns-search": ["."]
          }
          EOF
          sudo service docker restart
          sudo modprobe ip6table_nat
          sudo modprobe ip6table_raw
      - run: |
          make test/transparentproxy
