name: "Update insecure dependencies"
on:
  workflow_dispatch: {}
  schedule:
    - cron: 0 3 * * *
permissions: read-all
jobs:
  active-branches:
    uses: ./.github/workflows/_get-active-branches.yaml
  update-insecure-dependencies:
    env:
      OSV_SCANNER_ADDITIONAL_OPTS: ""
    timeout-minutes: 20
    needs: active-branches
    strategy:
      fail-fast: false
      matrix:
        branch: ${{ fromJSON(needs.active-branches.outputs.out) }}
    runs-on: ubuntu-24.04
    steps:
      - name: Set Swap Space
        uses: pierotofy/set-swap-space@fc79b3f67fa8a838184ce84a674ca12238d2c761
        with:
          swap-size-gb: 10
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ matrix.branch }}
      - uses: jdx/mise-action@c53b9236f0b3370f31520f8b142f141256d839c6 # v3.6.0
        env:
          GITHUB_TOKEN: ${{ github.token }}
          MISE_DISABLE_TOOLS: "golangci-lint,skaffold"
      - name: "Install tools"
        run: |
          go install github.com/google/osv-scanner/cmd/osv-scanner@b13f37e1a1e4cb98556c1d34cd3256a876929be1 # v1.9.1
      - name: "Prepare commit body - before"
        id: prepare_commit_body_before
        run: |
          SCAN_OUTPUT_BEFORE=$(osv-scanner ${OSV_SCANNER_ADDITIONAL_OPTS} --lockfile=go.mod | tr "+" "|" | awk 'NR>3 {print last} {last=$0}' || true)
          {
            echo "SCAN_OUTPUT_BEFORE<<EOF"
            echo "$SCAN_OUTPUT_BEFORE"
            echo "EOF"
          } >> "$GITHUB_ENV"
      - name: "Update dependencies"
        id: update
        run: |
          make update-vulnerable-dependencies
      - name: "Prepare commit body - after"
        id: prepare_commit_body_after
        run: |
          SCAN_OUTPUT_AFTER=$(osv-scanner ${OSV_SCANNER_ADDITIONAL_OPTS} --lockfile=go.mod | tr "+" "|" | awk 'NR>3 {print last} {last=$0}' || true)
          {
            echo "SCAN_OUTPUT_AFTER<<EOF"
            echo "$SCAN_OUTPUT_AFTER"
            echo "EOF"
          } >> "$GITHUB_ENV"
      - name: Generate GitHub app token
        id: github-app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: "Create Pull Request"
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          commit-message: "chore(deps): security update"
          signoff: true
          branch: chore/security-updates-${{ matrix.branch }}
          body: |
            Scan output:

            Before update:
            ${{ env.SCAN_OUTPUT_BEFORE }}

            After update:
            ${{ env.SCAN_OUTPUT_AFTER }}

            If a package is showing up in the scan but the script is not trying to update it then it might be because there is no fixed version yet.
          delete-branch: true
          title: "chore(deps): security update"
          draft: false
          labels: dependencies,${{ matrix.branch }}
          token: ${{ steps.github-app-token.outputs.token }}
          committer: kumahq[bot] <110050114+kumahq[bot]@users.noreply.github.com>
          author: kumahq[bot] <110050114+kumahq[bot]@users.noreply.github.com>
