name: "Update changelog"

on:
  workflow_dispatch: {}
  release: {}
jobs:
  update-changelog:
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub app token
        id: github-app-token
        uses: tibdex/github-app-token@f717b5ecd4534d3c4df4ce9b5c1c2214f0f7cd06 # v1.6.0
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: "Clone Kuma"
        uses: actions/checkout@v2
        with:
          ref: "master"
      - uses: actions/setup-go@v3
        with:
          go-version: "~1.18.9"
      - env:
          GITHUB_TOKEN: ${{ steps.github-app-token.outputs.token }}
        run: |
          go run ./tools/releases/changelog/... changelog.md > CHANGELOG.md
      - name: "Create Pull Request"
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: "docs(CHANGELOG.md): updating changelog"
          signoff: true
          branch: chore/update-changelog
          delete-branch: true
          title: "docs(CHANGELOG.md): updating changelog"
          draft: false
          token: ${{ steps.github-app-token.outputs.token }}
          committer: kumahq[bot] <110050114+kumahq[bot]@users.noreply.github.com>
          author: kumahq[bot] <110050114+kumahq[bot]@users.noreply.github.com>
